html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $ms-color-neutralLighter;
    margin: 0;
}

form {
    @include placeholder-color($ms-color-neutralTertiary);
    transform: scale(1.5);
    width: 180px;

    button[type="submit"] {
        margin-top: 5px;
        width: 100%;
    }
}