@mixin placeholder-color($color) {
    &:placeholder-shown {
        color: $color;
    }

    :-ms-input-placeholder {
        color: $color;
    }

    ::-moz-placeholder {
        color: $color;
    }

    ::-webkit-input-placeholder {
        color: $color;
    }
}